################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/acessorestrito/bin/Debug/net6.0
/acessorestrito/obj
/areadotriangulo/bin/Debug/net6.0
/areadotriangulo/obj
/calcularpesoealtura/bin/Debug/net6.0
/calcularpesoealtura/obj
/ExercicioCondicoes5/bin/Debug/net6.0
/ExercicioCondicoes5/obj/Debug/net6.0
/ExercicioCondicoes5/obj/Release/net6.0
/ExercicioCondicoes5/obj
/numeroimpar/obj
/numeroimpar/bin/Debug/net6.0
/sistemasdenotas/bin/Debug/net6.0
/sistemasdenotas/obj
/exerciciosDiversos/acessorestrito/obj
/exerciciosDiversos/acessorestrito/bin/Debug/net6.0
/exerciciosDiversos/areadotriangulo/obj
/exerciciosDiversos/numeroimpar/bin/Debug/net6.0
/exerciciosDiversos/numeroimpar/obj/Debug/net6.0
/exerciciosDiversos/numeroimpar/obj
/exerciciosDiversos/sistemasdenotas/bin/Debug/net6.0
/exerciciosDiversos/sistemasdenotas/obj
/exerciciosIf/questa4/.vs
/exerciciosIf/questa4/obj
/exerciciosIf/questao1/.vs
/exerciciosIf/questao1/obj/Debug/net6.0
/exerciciosIf/questao1/obj
/exerciciosIf/questao2/.vs
/exerciciosIf/questao2/obj
/exerciciosIf/questao3/.vs
/exerciciosIf/questao3/obj
/exerciciosIf/questao5/.vs
/exerciciosIf/questao5/obj
/exerciciosIfeElse/questao1/bin/Debug/net6.0
/exerciciosIfeElse/questao1/obj
/exerciciosIfeElse/questao2/.vs
/exerciciosIfeElse/questao2/obj
/exerciciosIfeElse/questao3/.vs
/exerciciosIfeElse/questao3/obj
/exerciciosIfeElse/questao4/.vs
/exerciciosIfeElse/questao4/obj
/exerciciosIfeElse/questao5/bin/Debug/net6.0
/exerciciosIfeElse/questao5/obj
/exerciciosOperadoresLogicos/questao1/.vs
/exerciciosOperadoresLogicos/questao1/obj
/exerciciosOperadoresLogicos/questao2/.vs
/exerciciosOperadoresLogicos/questao2/obj/Debug/net6.0
/exerciciosOperadoresLogicos/questao2/obj
/exerciciosOperadoresLogicos/questao3/.vs
/exerciciosOperadoresLogicos/questao3/obj
/exerciciosOperadoresLogicos/questao4/.vs
/exerciciosOperadoresLogicos/questao4/obj
/exerciciosOperadoresLogicos/questao5/.vs/questao5
/exerciciosOperadoresLogicos/questao5/obj
/exerciciosSwitchCase/questao1/.vs
/exerciciosSwitchCase/questao1/obj
/exerciciosSwitchCase/questao2/.vs
/exerciciosSwitchCase/questao2/obj
/exerciciosSwitchCase/questao3/.vs
/exerciciosSwitchCase/questao3/obj/Debug/net6.0
/exerciciosSwitchCase/questao3/obj
/exerciciosSwitchCase/questao4/.vs
/exerciciosSwitchCase/questao4/obj
/exerciciosSwitchCase/listaDeFilmes/.vs/listaDeFilmes
/exerciciosSwitchCase/listaDeFilmes/bin/Debug/net6.0
/exerciciosSwitchCase/listaDeFilmes/obj
/exerciciosSwitchCase/listaDeFilmesEmIngles/.vs/listaDeFilmesEmIngles
/exerciciosSwitchCase/listaDeFilmesEmIngles/bin/Debug/net6.0
/exerciciosSwitchCase/listaDeFilmesEmIngles/obj
/exerciciosSwitchCase/ConsoleApp1/.vs/ConsoleApp1/v17
/exerciciosSwitchCase/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex
/exerciciosSwitchCase/ConsoleApp1/obj
/listaDeFilmes/.vs
/listaDeFilmes/bin/Debug/net6.0
/listaDeFilmes/obj
/listaDeFilmesEmIngles/.vs
/listaDeFilmesEmIngles/bin/Debug/net6.0
/listaDeFilmesEmIngles/obj
/projetoDeStreaming/.vs
/projetoDeStreaming/bin/Debug/net6.0
/projetoDeStreaming/obj
/ConsoleApp1/.vs/ConsoleApp1
/ConsoleApp1/obj
/exerciciosEmDoWhile/questao1/.vs
/exerciciosEmDoWhile/questao1/obj
/exerciciosEmDoWhile/questao2/.vs
/exerciciosEmDoWhile/questao2/obj
/exerciciosEmDoWhile/questao3/.vs
/exerciciosEmDoWhile/questao3/bin/Debug/net6.0
/exerciciosEmDoWhile/questao3/obj
/exerciciosEmDoWhile/questao4/.vs
/exerciciosEmDoWhile/questao4/obj
/exerciciosEmDoWhile/questao5/.vs
/exerciciosEmDoWhile/questao5/bin/Debug/net6.0
/exerciciosEmDoWhile/questao5/obj
/exerciciosEmFor/exercicioTeste/.vs
/exerciciosEmFor/exercicioTeste/bin/Debug/net6.0
/exerciciosEmFor/exercicioTeste/obj
/exerciciosEmFor/questao1/.vs
/exerciciosEmFor/questao1/bin/Debug/net6.0
/exerciciosEmFor/questao1/obj
/exerciciosEmFor/questao10/.vs
/exerciciosEmFor/questao10/bin/Debug/net6.0
/exerciciosEmFor/questao10/obj
/exerciciosEmFor/questao11/.vs
/exerciciosEmFor/questao11/obj
/exerciciosEmFor/questao2/.vs
/exerciciosEmFor/questao2/obj
/exerciciosEmFor/questao2/bin/Debug/net6.0
/exerciciosEmFor/questao11/bin/Debug/net6.0
/exerciciosDeFuncao/projetoTeste/.vs
/exerciciosDeFuncao/projetoTeste/AulaRevisao/.vs
/exerciciosDeFuncao/projetoTeste/AulaRevisao/bin/Debug/net6.0
/exerciciosDeFuncao/projetoTeste/AulaRevisao/obj
/exerciciosEmFor/questao3/.vs
/exerciciosEmFor/questao3/bin/Debug/net6.0
/exerciciosEmFor/questao3/obj
/exerciciosEmFor/questao4/.vs
/exerciciosEmFor/questao4/bin/Debug/net6.0
/exerciciosEmFor/questao4/obj
/exerciciosEmFor/questao5/.vs
/exerciciosEmFor/questao5/bin/Debug/net6.0
/exerciciosEmFor/questao5/obj
/exerciciosEmFor/questao6/.vs
/exerciciosEmFor/questao6/bin/Debug/net6.0
/exerciciosEmFor/questao6/obj
/exerciciosEmFor/questao7/.vs
/exerciciosEmFor/questao7/bin/Debug/net6.0
/exerciciosEmFor/questao7/obj
/exerciciosEmFor/questao8/.vs
/exerciciosEmFor/questao8/bin/Debug/net6.0
/exerciciosEmFor/questao8/obj
/exerciciosEmFor/questao9/.vs
/exerciciosEmFor/questao9/bin/Debug/net6.0
/exerciciosEmFor/questao9/obj
/exerciciosEmTernario/ConsoleApp1/.vs
/exerciciosEmTernario/ConsoleApp1/obj
/exerciciosEmTernario/ConsoleApp2/.vs
/exerciciosEmTernario/ConsoleApp2/bin/Debug/net6.0
/exerciciosEmTernario/ConsoleApp2/obj
/exerciciosEmTernario/questao1/.vs
/exerciciosEmTernario/questao1/bin/Debug/net6.0
/exerciciosEmTernario/questao1/obj
/exerciciosEmTernario/questao2/.vs
/exerciciosEmTernario/questao2/bin/Debug/net6.0
/exerciciosEmTernario/questao2/obj
/exerciciosEmTernario/questao3/.vs
/exerciciosEmTernario/questao3/bin/Debug/net6.0
/exerciciosEmTernario/questao3/obj
/exerciciosEmTernario/questao4/.vs
/exerciciosEmTernario/questao4/bin/Debug/net6.0
/exerciciosEmTernario/questao4/obj
/exerciciosEmWhile/calculadoraEmWhile/.vs
/exerciciosEmWhile/calculadoraEmWhile/bin/Debug/net6.0
/exerciciosEmWhile/calculadoraEmWhile/obj
/exerciciosVetoresMatrizes/questao1/.vs
/exerciciosVetoresMatrizes/questao1/bin/Debug/net6.0
/exerciciosVetoresMatrizes/questao1/obj
/exerciciosVetoresMatrizes/questao2/.vs
/exerciciosVetoresMatrizes/questao2/bin/Debug/net6.0
/exerciciosVetoresMatrizes/questao2/obj
/exerciciosVetoresMatrizes/questao3/.vs
/exerciciosVetoresMatrizes/questao3/bin/Debug/net6.0
/exerciciosVetoresMatrizes/questao3/obj
/exerciciosVetoresMatrizes/questao4/.vs
/exerciciosVetoresMatrizes/questao4/bin/Debug/net6.0
/exerciciosVetoresMatrizes/questao4/obj
/exerciciosVetoresMatrizes/questao5/.vs
/exerciciosVetoresMatrizes/questao5/obj
/exerciciosVetoresMatrizes/questao6/.vs
/exerciciosVetoresMatrizes/questao6/bin/Debug/net6.0
/exerciciosVetoresMatrizes/questao6/obj
/exerciciosVetoresMatrizes/questao7/.vs
/exerciciosVetoresMatrizes/questao7/bin/Debug/net6.0
/exerciciosVetoresMatrizes/questao7/obj
