################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExercicioCondicoes5/obj
/ExercicioCondicoes5/bin/Debug/net6.0
